@charset "utf-8";
/*
* {
    padding: 0;
    margin: 0;
}
body {
    --line-of-chars:40;
    font-size: calc(100vw / (var(--line-of-chars)));
}
*/
img.icon {
    width: 1em;
    height: 1em;
}
footer {
    text-align:center;
}
body {
    font-size:max(16px, calc(100vw / 45));
    line-height:1.7em;
    letter-spacing:0.05em;
    color:#000;
    background-color:#ddd;
    font-family: 'Noto Serif JP', 'Source Han Serif JP', 'Noto Color Emoji', serif; 
}
h1,h2,h3,h4,h5,h6,th,label,caption,legend,code { font-family: 'Noto Sans JP', 'Source Han Sans JP', 'Noto Color Emoji', sans-serif; }
em {
    font-style: normal;
    text-emphasis: var(--em-style) var(--em-color);
    -webkit-text-emphasis: var(--em-style) var(--em-color);
}
